html {
  font-family: "Verdana";
  background: black;
}

h1 {
  color: white;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: white
  text-align center
  font-size: 42px;
  font-weight: 300;
}

video {
  display: block;
  margin: auto;
}

img {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.greyFont {
  color: grey;
  font-size: 21px;
}

.links {
  text-align: center;
}

#copyright {
  text-align: right;
}

#shortDescrip {
  text-align: center;
}
